@font-face {
  font-family: 'zelda';
  src: url("../assets/fonts/zeldadxt.ttf");
  font-stretch : normal;
  font-weight : normal;
  font-style : normal
}

body {
    /* box-sizing: border-box; */
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url('../assets/images/background.jpg') ;
    overflow: hidden;
    background-position: center;
  }

  .divInfoEndGame {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

#img_dsk {
    position: absolute;
}

#img_explosion {
    position: absolute;
    width: 100px;
}

.divInfo {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.divInfo #points {
  width: 33%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 1.1rem;
}

.divInfo #combos {
  width: 30%;
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 1.1rem;
}

.divInfo #timer {
  width: 33%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 1.1rem;
}

#points {
  font-family: 'zelda', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  color: white;
  font-size: 1.1rem;
}

